{{ define "main" }}
<article>
  <header>
    <span class="post-title">{{ .Title }}</span>
    <span class="post-title">日期{{ .Date }}</span>
    <span class="post-title">上一页{{ .Next }}</span>
    <span class="post-title">下一页{{ .Prev }}</span>
    <span class="post-title">字数{{ .WordCount }}</span>
    <span class="post-title">阅读时间{{ .ReadingTime }}</span>
    <div>
      {{with .PrevInSection}}
      <a href="{{.Permalink}}">前一页</a> 
      {{end}}
      {{with .NextInSection}}
      <a href="{{.Permalink}}">后一页</a>
      {{end}}
  </div>
  </header>
  {{.Content}}
</article>
{{ end }}
