




{{ if .IsTranslated }}
<h4>{{ i18n "translations" }}lll</h4>
<ul>
    {{ range .Translations }}
    <li>
        <a href="{{ .Permalink }}">{{ .Lang }}{{ .Language.LanguageName }}: {{ .Title }}{{ if .IsPage }} ({{ i18n "wordCount" . }}){{ end }}</a>
    </li>
    {{ end }}
</ul>
{{ else}}
{{ .Language.LanguageName }}--{{ .Language.Lang }}{{ .Site.Language }}--{{ .Site.LanguageCode }}

{{ end }}


<ul>
  {{ range .Site.Menus.main }} {{if .HasChildren}}
  <li>{{.Name}}</li>
  <ul>
    {{ range .Children }}
    <li>
      <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
  {{ else }}
  <li><a href="{{ .URL | absLangURL }}">{{.Name}}</a></li>
  {{end}} {{ end }}
</ul>
